body {
  font-weight: 200;
}

.qantity {
  width: 75%;
}

.th_quantity {
  width: 8%;
}

.table-product {
  background-color: white;
}

.thead {
  font-weight: 500;
}

.price-product tr {
  color: #646c9a;
  font-weight: 200;
}

